# ==========================================
# DriveGram - Configurações de Ambiente
# ==========================================

# Porta de execução do servidor backend
PORT=5000

# Credenciais da API do Telegram (Obtidas em https://my.telegram.org/apps)
# Se não preenchidas, a aplicação utilizará as credenciais padrão públicas de cliente.
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
